.Back{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    
    .button{
        color: rgba(0, 7, 142, 0.83);
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(1.1);
            color: red;
        }
    }
    
}